<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
  <a href="https://scholar.google.com/citations?user=nf-mBpUAAAAJ&hl=en" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="ai ai-google-scholar-square ai-fw" aria-hidden="true"></i><span class="label">Scholar</span>
    <!--<i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Scholar-->
  </a>
</li>

<li>
  <a href="https://orcid.org/0000-0003-1067-3762" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i><span class="label">ORCID</span>
  </a>
</li>
