---
layout: archive
---

<h3 id="page_top" class="archive__subtitle">{{ page.title }}</h3>

<section class="page__content" itemprop="text">
  <br/>
  <p>The posts in this list are ordered by date, click <a href="/tags/">here</a> for ordering by tag instead.</p>
  <br/>
</section>

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
  </section>
{% endfor %}

<!--
{% assign posts = site.posts | sort: 'date' | reverse %}
{% for post in posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
<section class="taxonomy__section"></section>
-->

<a href="#page_top" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
