---
layout: archive
---

<h3 id="page_top" class="archive__subtitle">{{ site.data.ui-text[site.locale].all_courses | default: "All posts" }}</h3>

{{ content }}

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
  </section>
{% endfor %}

<!--
{% assign posts = site.posts | sort: 'date' | reverse %}
{% for post in posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
<section class="taxonomy__section"></section>
-->

<a href="#page_top" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
